<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/perfil.css">
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header">

        <img  class="avatar" src="/imagenes/<%= Img%>">
        <h1 class="user_name"><%= Nombre%></h1>
        <form action="/foto" method="post" enctype="multipart/form-data">
            <input type="file" name="img" id="">
            <input type="hidden" name="idusu" value="<%= IdUsu%>" id="">
          
        </form>

    </div>
    <ul class="socials">
        <li>
            <a href="">Nombre</a>
        </li>
        <li>
            <a href="">Apellido</a>
        </li>
        <li>
            <a href="">Usuario</a>
        </li>
        <li>
            <a href="">Clave</a>
        </li>
    </ul>
    <div class="about">
        <h3>Acerca de</h3>
        <p>Descripcion personal</p>
    </div>
    <div class="container">
        <div class="container_form">
           
            <form action="/DatosP" method="post">
                <h2>Datos personale</h2>
                <input type="text" placeholder="Nombre" name="Nombre" value="<%= Nombre%>">
                <input type="text" placeholder="Apellido" name="Apellido" value="<%= Apellido%>">
                <input type="text" placeholder="Usuario" name="Usuario" value="<%= Usuario%>">
                <input type="password" placeholder="Clave" name="Password" value="<%= Clave%>" >
            

                <input class="boton" type="submit" value="Actualizar datos">
            </form>
        </div>
    </div>
</body>
</html>