
        <!DOCTYPE html>
        <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <link rel="icon" href="img/logo.jpg">
            <link rel="stylesheet" href="/css/urnas.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@700&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://kit.fontawesome.com/a076d05399.js"></script>

            <script src="../js/jquery-3.6.0.min.js"></script>
            <script src="../js/estadisticaurna.js"></script>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="/private/js/visual.js?v=1"></script>
          
            
            <title>Usuario</title>
        </head>
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Last-Modified" content="0">
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <body>
            
            <script>
          
            </script>
           <header>
            <a href="#" class="logo">
                <img src="/img/logo.jpg" alt="logo">
            </a>
            <div id="header">
                <ul class="nav">
                    <li><a href="/Usuario" class="">Inicio</a></li>
                    <li><a href="/urnaUsu" class="">Ver urnas</a></li>
                    <li><a href="/ForosUsu" class="">Foros de discusion</a></li>
                    <li><a href="/NotiUsu" class="">Noticias</a></li>
                    <li><a href="">Partidos</a>
                        <ul id="partidos">
    
                        </ul>
                    </li>
                    <li><a href="/cerrar" class="">Cerrar Sesion</a></li>
        </header>
            <script>
                let =url='/partidos'
                fetch(url)
                .then(Response=>Response.json())
                .then(data=>mostrarDatos(data))
                .catch(error=>console.log(error))
                const mostrarDatos=(data)=>{
                console.log(data)
                let body=''
                for(i=0; i<data.length;i++){
                    body+=`
                        
                                <li><a href="/partidoUsu/${data[i].IdPartido}">${data[i].NomPartido}</a></li>
                            
                                    `
                               
        
                }
                document.getElementById('partidos').innerHTML=body
                 console.log(body)
            }
            </script>
            <div class="contitu">
        <H1 class="titu"><a>Modulo Urnas</a></H1>
        <select class="boton" onload="checkCookies()" id="opcion" name="select">
            <option value=""selected>Selecciona El Tipo De Grafico A Visualizar</option>
            <option value="bar">Barra</option>
            <option value="pie" >Torta</option>
            <option value="line">lineas</option>
            <option value="doughnut">Doughnut</option>
            <option value="polarArea">Polar</option>
            <option value="radar">Radar</option>
            <option value="scatter">Scatter</option>
            
          </select>
        </div>
        <div>
            
       
            <% Datos.forEach(function (Datos){ %>
           

               
                <div class="contnomde">
                <h1 class="bot"><%=Datos.NomUrna%></h1>
                <p class="bot"><%=Datos.DesUrna%></p>
               
                <div class="botn"><input class="botons" type="button" value="Ver Urna" id="evento" class="Confirmar"></div>
               
                <div  class="botones3" id="botones<%=Datos.IdUrna%>">
                </div>
            </div>


           
                 
                <input type="hidden" class="id" value="<%=Datos.IdUrna%>" id="valor">
                <input type="hidden" class="usu" value="<%=IdUsu%>" id="valor">
                
           
               
            <canvas class="estadisticafondo" id="myChart<%=Datos.IdUrna%>" ></canvas>
         
             
             <%})%>
           
             </script>
            <script>
                
                 $(document).ready(function(){
                    $('.close-btn').on('click',function(){
                
     
        $('.alert').addClass("hide");
      $('.alert').removeClass("show");
      });

      $('.botons').on('click',function(){
     
        $('.alert').addClass("showAlert");
      $('.alert').addClass("show");
      $('.alert').addClass("showAlert");
   })

         
         $('.botons').on('click',function(){
           
        
      
        let btn=$('.botons').index(this);
        let doc=$('.id').eq(btn);
        
        let d=doc.val();
     
   
        const d2={
            id: d
        };

       
            var x = document.getElementById("opcion").value;


 
         if(x===""){
           alert("Tiene que seleccionar el tipo de grafico!")
         }else{

        
         
      
        
                let ctx=document.getElementById('myChart'+d)
                 var myChart=new Chart(ctx,{
                     type:x,
                     data:{
                         datasets:[{
                             
                             label:'Estadisticas Urna', 
                             backgroundColor:['yellow','#87CEFA','red','violet','blue'],
                             borderColor:['#3F2212'],
                             borderwidth:3
                             
                      } ]
                     },
                     options:{
                         scales:{
                             y:{
                                 width: 10,
                                beginAtZeto:true,
                                maintainAspectRatio: false
                             }
                         }
                     }
        
                 })
                
                 let url='/urnadatos'
                 fetch(url,{
            method:'POST',
            headers:{
                
        
                "content-Type":"application/json",
            },
            body: JSON.stringify(d2),
           })
                 .then(response=>response.json())
                 .then(data=>mostrar(data))
                 .catch(error=>console.log(error))
        
                 const mostrar=(data)=>{
                    console.log (data.length)
                     data.forEach(element => {
                         myChart.data['labels'].push(element.Opcion)

                         myChart.data['datasets'][0].data.push((element.cantidad/data.reduce((a,b)=>a+b.cantidad,0))*100)

                         myChart.update();
                    
                     });
                  
              
                    } 
                 }
                 
                 
                });
              
        });
          
            </script>
       
            
         
        </body>
        </html>

      