
        <!DOCTYPE html>
        <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <link rel="icon" href="img/logo.jpg">
            <link rel="stylesheet" href="/css/urnas.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@700&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="/js/jquery-3.6.0.min.js"></script>
            <script src="/js/estadisticaurna.js"></script>
          
            
            <title>Usuario</title>
        </head>
        <body>
            
            <script>
          
            </script>
             <header>
                <a href="#" class="logo">
                    <img src="/img/logo.jpg" alt="logo">
                </a>
                <div id="header">
                    <ul class="nav">
                        <li><a href="#" class="">Urna</a>
                            <ul>
                                <li><a href="/crearurna" class="">crear urnas</a></li>
                                <li><a href="/urna" class="">ver urnas</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="/foros" class="">Foros de discusion</a>
                            <ul>
                                <li><a href="#" class="">crear foros </a></li>
                                <li><a href="#" class="">ver foros</a></li>
                            </ul>
                        </li>
                        <li><a href="/noticias" class="">Noticias</a>
                            <ul>
                                <li><a href="#" class="">crear noticias</a></li>
                                <li><a href="/noticias" class="">ver noticias</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="">Integrante</a>
                            <ul>
                                <li><a href="#" class="">crear integrante</a></li>
                                <li><a href="#" class="">ver integrante</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="">Partido</a>
                            <ul>
                                <li><a href="#" class="">crear partido</a></li>
                                <li><a href="" class="">ver partido</a></li>
                            </ul>
                        </li>
                        
                     
            </header>
            <div class="contitu">
        <H1 class="titu"><a>Modulo Urnas</a></H1>
        </div>
        
            
            
            <% Datos.forEach(function (Datos){ %>
                <div class="contnomde">
                <h1 class="bot"><%=Datos.NomUrna%></h1>
                <p class="bot"><%=Datos.DesUrna%></p>
                <input class="botons" type="button" value="Ver Urna" class="Confirmar">
            </div>
        
                <input type="hidden" class="id" value="<%=Datos.IdUrna%>" id="valor">
                
           
            <div  class="botones2" id="botones<%=Datos.IdUrna%>">
                 
            </div>
            <canvas class="estadisticafondo" id="myChart<%=Datos.IdUrna%>" ></canvas>
         
             
             <%})%>
            <script>
                
                 $(document).ready(function(){
         
         $('.botons').on('click',function(){
        
        let btn=$('.botons').index(this);
        let doc=$('.id').eq(btn);
        
        let d=doc.val();
        
        const d2={
            id: d
        };
        
                let ctx=document.getElementById('myChart'+d)
                 var myChart=new Chart(ctx,{
                     type:'bar',
                     data:{
                         datasets:[{
                             
                             label:'Estadisticas Urna', 
                             backgroundColor:['yellow'],
                             borderColor:['black'],
                             borderwidth:1
                             
                      } ]
                     },
                     options:{
                         scales:{
                             y:{
                                 width: 10,
                                beginAtZeto:true,
                                maintainAspectRatio: false
                             }
                         }
                     }
        
                 })
                
                 let url='/urnadatos'
                 fetch(url,{
            method:'POST',
            headers:{
                
        
                "content-Type":"application/json",
            },
            body: JSON.stringify(d2),
           })
                 .then(response=>response.json())
                 .then(data=>mostrar(data))
                 .catch(error=>console.log(error))
        
                 const mostrar=(data)=>{
                    console.log (data.length)
                     data.forEach(element => {
                         myChart.data['labels'].push(element.Opcion)
                         myChart.data['datasets'][0].data.push(element.cantidad)
                         myChart.update();
                    
                     });
                     for(i=0; i<data.length;i++){
                         var label='<label>Vote Por Su Opcion Favorita</label>'
                        var button = ' <form action="Votos" method="post"><input class="formu" type="submit"value="'+data[i].Opcion+'"  id="num_parrafos" name="opcion"/><input type="hidden"value="'+data[i].IdUrna+'"  id="num_parrafos" name="id"/></form>'
            $('#botones'+d).append(button);
        
                           
        
                }
              
                     
                 }
                });
        });
                
            </script>
         
        </body>
        </html>